---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "UTF-8";

@import "_variables";
@import "_typography_bootstrap-3.3.5.scss";
@import "_header.scss";
@import "_normalize-3.0.2.scss";
//@import "_bootstrap.scss";
//@import "_bootstrap-navbar.scss";
//@import "_bootstrap-theme.scss";

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

body {
  color: #404040;
}
