section {
    margin: 1em;
}

.head {
    float: right;
    padding-left: 10px;
    padding-bottom: 10px;
}

@media only screen and (min-width: 720px) and (min-height: 600px) { 
    html, body, main {
        height: 100%;
    }
    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section {
        max-width: 700px;
        margin: 10px;
    }

    .head {
        width: 150px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}
main {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.25;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

@media only screen and (min-width: 720px) and (min-height: 600px) { 
    main {
        font-size: 1.05rem;
    }
}

.acro {
    font-variant:small-caps;
    text-transform: lowercase;
    font-size: 1.1rem;
    letter-spacing: 0.3px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover, a:focus {
    color:#23527c;
    text-decoration:underline;
}

a:focus {
    outline:thin dotted;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}
