section {
    margin: 1em;
}

.head {
    float: right;
    padding-left: 10px;
    padding-bottom: 10px;
}

@media only screen and (min-width: 720px) and (min-height: 600px) { 
    html, body {
        height: 100%;
    }
    body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    main {
        max-width: 700px;
        margin: 10px;
    }

    .head {
        width: 150px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}
body {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.25;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

@media only screen and (min-width: 720px) and (min-height: 600px) { 
    body {
        font-size: 1.05rem;
    }
    nav {
        font-size: 1.4rem;
    }
}


nav {
    font-variant:small-caps;
    text-transform: lowercase;
    letter-spacing: 0.3px;
    color: #999;
    padding-bottom: 0.5em;
    text-align: center;
}

@media only screen and (min-width: 360px) and (max-width: 719px) { 
    nav {
        font-size: 1.1rem;
    }
    nav a {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}

nav a {
    margin-left: 0.1em;
    margin-right: 0.1em;
}

nav i {
    font-size: 0.85rem;
    padding-right: 0.05em;
}

.acro {
    font-variant:small-caps;
    text-transform: lowercase;
    font-size: 1.1rem;
    letter-spacing: 0.3px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover, a:focus {
    color:#23527c;
    text-decoration:underline;
}

a:focus {
    outline:thin dotted;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}
