---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "UTF-8";

@import "_bootstrap.scss";
@import "_bootstrap-navbar.scss";
//@import "_bootstrap-theme.scss";

@mixin transition($prop, $time) {
  -webkit-transition: $prop $time;
     -moz-transition: $prop $time;
      -ms-transition: $prop $time;
          transition: $prop $time;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

body {
  color: #404040;
}

nav {
  @include transition(all, 0.5s);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.navbar-fixed-top {
  background: rgba(248, 248, 248, 0.7);
  border-radius: 0;
  border: 0;
}

.navbar-static-top {
  background: rgba(248, 248, 248, 0);
  border: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
}


@mixin overlay-background-image($color, $img) {
  background-image: linear-gradient($color, $color), $img;
}


header {
  background: no-repeat center center;
  background-color: #808080;
  @include overlay-background-image(rgba(black, 0.35), url('/img/main-page-background-1000.jpg'));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 25em;

  .container {
    color: white;
    display: -webkit-box;
    text-align: center;
    width: 100%;
    height: 100%;

    .row {
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    h1 {
      font-size: 80px;
    }
    h2 {
      font-size: 50px;
    }
    hr.small {
      max-width: 100px;
      border-color: white;
      border-width: 4px;
      margin: 10px auto;
    }
  }
}

@media (min-width: 1000px) {
  header {
    @include overlay-background-image(rgba(black, 0.35), url('/img/main-page-background-2000.jpg'));
  }
}
@media (min-width: 2000px) {
  header {
    @include overlay-background-image(rgba(black, 0.35), url('/img/main-page-background-3000.jpg'));
  }
}


