@charset "UTF-8";
@import "mixins/_transition.scss";
@import "mixins/_center.scss";
@import "mixins/_clearfix.scss";

nav {
  @include transition(all, 0.5s);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border: 0;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  @include clearfix();

  ul {
    margin: 0;
    display: block;
    float: right;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    li {
      box-sizing: border-box;
      display: block;
      float: left;
      a {
      box-sizing: border-box;
      display: block;
        padding: ($line-height-computed / 2 );
        line-height: $line-height-computed;
      }
    }

    @media (min-width: $screen-sm-min) {
      font-size: 14.5px;
    }
    @media (min-width: $screen-md-min) {
      font-size: 15px;
    }
    @media (min-width: $screen-lg-min) {
      font-size: 15.5px;
    }
    @media (min-width: $screen-hg-min) {
      font-size: 16px;
    }
  }
}

.navbar-fixed-top {
  position: fixed;
  background: rgba(248, 248, 248, 0.7);
  .current {
    background-color: darken(rgba(248, 248, 248, 0.7), 20%);
  }
  li a:hover {
    background-color: darken(rgba(248, 248, 248, 0.7), 10%);
  }
}

.navbar-static-top {
  position: absolute;
  background: rgba(248, 248, 248, 0);
  a { color: white; }
  .current {
    background-color: rgba(black, 0.3);
  }
  li a:hover {
    background-color: rgba(black, 0.2);
  }
}


@mixin overlay-background-image($color, $img, $img2x) {
  background-image: -moz-linear-gradient(top, $color 0%, $color 100%), $img; /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color), color-stop(100%,$color)), $img; /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, $color 0%, $color 100%), $img; /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, $color 0%,$color 100%), $img; /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, $color 0%,$color 100%), $img; /* IE10+ */
  background-image: linear-gradient($color, $color), $img;

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: -moz-linear-gradient(top, $color 0%, $color 100%), $img2x; /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color), color-stop(100%,$color)), $img2x; /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, $color 0%, $color 100%), $img2x; /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, $color 0%,$color 100%), $img2x; /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, $color 0%,$color 100%), $img2x; /* IE10+ */
    background-image: linear-gradient($color, $color), $img2x;

  }
}

$overlay-strength: 0.25;

header {
  background: no-repeat center center;
  background-color: #808080;
  @include overlay-background-image(rgba(black, $overlay-strength), url('/img/main-page-background-800.jpg'), url('/img/main-page-background-2000.jpg'));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 350px;
  @media (min-width: $screen-sm-min) {
    @include overlay-background-image(rgba(black, $overlay-strength), url('/img/main-page-background-1000.jpg'), url('/img/main-page-background-2000.jpg'));
  }
  @media (min-width: $screen-md-min) {
    height: 400px;
    @include overlay-background-image(rgba(black, $overlay-strength), url('/img/main-page-background-1200.jpg'), url('/img/main-page-background-3000.jpg'));
  }
  @media (min-width: $screen-lg-min) {
    @include overlay-background-image(rgba(black, $overlay-strength), url('/img/main-page-background-2000.jpg'), url('/img/main-page-background-3000.jpg'));
    height: 600px;
  }
  @media (min-width: $screen-hg-min) {
    @include overlay-background-image(rgba(black, $overlay-strength), url('/img/main-page-background-3000.jpg'), url('/img/main-page-background-3000.jpg'));
    height: 750px;
  }
}

header {
  @include center-nested-element();

  .container {
    color: white;
    text-align: center;
    width: 100%;
    h1 {
      font-size: 50px;
      font-weight: 800;
    }
    h2 {
      font-size: 30px;
      font-weight: 800;
    }
    hr {
      max-width: 100px;
      border-color: white;
      border-width: 4px;
      margin: 10px auto;
    }
    @mixin h1-h2-size($h1-size, $h2-size) {
      h1 { font-size: $h1-size; }
      h2 { font-size: $h2-size; }
    }
    @media (min-width: $screen-sm-min) {
      @include h1-h2-size(70px,40px);
    }
    @media (min-width: $screen-md-min) {
      @include h1-h2-size(80px,50px);
    }
    @media (min-width: $screen-lg-min) {
      @include h1-h2-size(100px,60px);
    }
    @media (min-width: $screen-hg-min) {
      @include h1-h2-size(130px,80px);
    }
  }
}
