@charset "UTF-8";

main {
  max-width: $container-sm * 0.8;
  @media (min-width: $screen-md-min) {
    max-width: $container-md * 0.8;
  }
  padding: 0 ($base-margin / 2);
  margin: 0 auto;
}

main.blog {
  @include clearfix();
  max-width: $container-tn;
  @media (min-width: $screen-sm-min) {
    max-width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    max-width: $container-md;
  }
  nav {
    float:none;
  }
  @media (min-width: $screen-sm-min) {
     nav {
      float: right;
      width: $container-sm * $blog-navbar-ratio;
      margin-left: -$container-sm * $blog-navbar-ratio;
    }
    article {
      float: left;
      margin-right: $container-sm * $blog-navbar-ratio;
    }
  }
  @media (min-width: $screen-md-min) {
    nav {
      width: $container-md * $blog-navbar-ratio;
      margin-left: -$container-md * $blog-navbar-ratio;
    }
    article {
      margin-right: $container-md * $blog-navbar-ratio;
    }
  }

}
