{% assign isBlog = false %}
{% for post in site.posts %}
   {% if page.url == post.url %}
      {% assign isBlog = true %}
   {% endif %}
{% endfor %}
{% assign isBlogList = false %}
{% assign currentPage =page.url || replace_first:"/","" || split:"/" || first || strip_newlines %}
{% if isBlog == false and currentPage == "blog" %}
   {% assign isBlogList = true %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href="/css/main.css" rel="stylesheet">

    {% if isBlog or isBlogList %}
      <link href="/blog/feed.xml" rel="alternate" type="application/rss+xml" title="RSS" />
    {% endif %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if lt IE 7 ]>
    <link href="/css/fontello-ie7.css" rel="stylesheet">
    <![endif]-->
  </head>
  <body class="{% if page.smallHeader %}smallHeader{%endif%}">
    <nav class="navbar-static-top">{% include navigation.html %}</nav>
    <header>
      <div class="container">
        <h1> Davy Landman </h1>
        <h2> Software Engineer & Researcher</h2>
      </div>
    </header>
    {% if isBlog or isBlogList %}
      <main class="blog">
        <article>
          {{ content }} 
        </article>
        <nav class="blog">
          <ul>
            {% if page.url == "/blog/index.html" %}
              <li class="current"><a class="icon-th" href="/blog/">Index</a>
            {% else %}
              <li><a class="icon-th" href="/blog/">Index</a>
            {% endif %}
            {% for post in site.posts offset:0 limit:10 %}
              {% if page.url == post.url %}
                <li class="current"><a class="icon-article" href="{{post.url}}">{{post.title}}</a>
              {% else %}
                  <li><a class="icon-article" href="{{post.url}}">{{post.title}}</a>
              {% endif %}
            {% endfor %}
            {% if page.url == "/blog/archive.html" %}
              <li class="current"><a class="icon-calendar-alt" href="/blog/archive.html">Archive</a>
            {% else %}
              <li><a class="icon-calendar-alt" href="/blog/archive.html">Archive</a>
            {% endif %}
            <li><a class="icon-rss-1" href="/blog/feed.xml" target="_blank"><i class="icon-rss"></i> rss feed</a>
          </ul>
        </nav>
      </main>
    {% else %}
      <main>
        {{ content }} 
      </main>
    {% endif %}
    <script src="/js/main.js"></script>
  </body>
</html>
