---
layout: default
---
<header>
  <h1>{{ page.title }}</h1>
  <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
</header>
{{ content }}
{% if page.tags %}
<footer>
  <p>
    {% if page.tags || length > 1 %}
      tags:
    {% else %}
      tag:
    {% endif %}
    {% for tag in page.tags %}
      {% assign separator = "," %}
      {% if forloop.last %}
        {% assign separator = "" %}
      {% endif %}
      <a href="/blog/archive-tags.html#{{tag}}" class="icon-tag">{{tag}}</a>{{ separator }}
    {% endfor %}
  </p>
</footer>
{% endif %}
<div id="disqus_thread"></div>
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES * * */
  var disqus_shortname = 'davylandmanblog';

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
